AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_DEFAULT_REGION=ap-southeast-2
AWS_BUCKET=barangay-daang-bakal-images
AWS_URL=https://barangay-daang-bakal-images.s3.ap-southeast-2.amazonaws.com
